* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9b415c;
  height: 100vh;
}

.password-generator {
  padding: 40px;
  background-color: #6f2f42;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}

.password-generator div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.password {
  min-width: 280px;
  background-color: #431c27;
  color: rgb(199, 199, 199);
}

.password p {
  padding: 6px 10px;
}

.password i {
  background-color: rgba(0, 0, 0, 0.575);
  padding: 6px 10px;
}

.password-generator button {
  width: 100%;
  border: none;
  color: rgba(255, 255, 255, 0.699);
  background-color: #2c131a;
  padding: 10px;